body {
  background: #3c649f;
  color: #f9f9f9;
  font: 100 17px/23px Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: left;
}
.section-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 29px;
  box-sizing: border-box;
}
h1 {
  font: 37px/41px "Ubuntu", Helvetica, Arial, sans-serif;
  margin: 0 0 29px;
  text-align: left;
}
h2 {
  font: 31px/37px Helvetica, Arial, sans-serif;
  margin: 0 0 29px;
  text-align: left;
}
h3 {
  font: 500 23px/29px Helvetica, Arial, sans-serif;
  margin: 0 0 19px;
}
p {
  margin: 0 0 19px;
}
.container {
  display: flex;
  margin: 0 -11px;
  flex-wrap: wrap;
}
.col-50 {
  flex: 1 1 50%;
  padding: 0 11px;
  box-sizing: border-box;
}
/* header */
header {
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  z-index: 999;
}
.header-center {
  max-width: 1200px;
  padding: 7px 29px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: block;
  height: 43px;
  overflow: hidden;
  background-image: url(./../images/logo-img.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.header-logo-link {
  display: block;
  padding: 0 0 0 47px;
  color: #3c649f;
  text-decoration: none;
  font: bold 19px/43px 'El Messiri', Geogia, sans-serif;
}
/* header-nav */
.header-nav {
  display: flex;
}
.header-nav a {
  margin: 0 13px;
  color: #0f0f0f;
  text-decoration: none;
}
/* /header-nav */
.header-mobile-button {
  width: 37px;
  height: 23px;
  cursor: pointer;
  flex-direction: column;
  display: none;
}
.header-mobile-button-block {
  height: 5px;
  background: #3c649f;
  display: block;
  border-radius: 1px;
}
.header-mobile-button:before,
.header-mobile-button:after {
  content: '';
  height: 5px;
  width: 37px;
  min-width: 37px;
  background: #3c649f;
  display: block;
  border-radius: 1px;
  transition: all 0.6s;
}
.header-mobile-button:before {
  margin: 0 0 5px;
}
.header-mobile-button:after {
  margin: 5px 0 0;
}
/* open */
.open .header-mobile-button-block {
  display: none;
}
.open.header-mobile-button:before {
  transform: rotate(45deg);
  margin: 7px 0 -5px 0;
}
.open.header-mobile-button:after {
  transform: rotate(-45deg);
  margin: 0;
}
@media (max-width: 1000px) {
  .header-nav a {
    margin: 0 7px;
  }
}
@media (max-width: 800px) {
  .header-mobile-button {
    display: flex;
  }
  .header-nav {
    position: absolute;
    right: 0;
    top: 57px;
    background: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    text-align: right;
    padding: 0 29px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.6s;
  }
  .header-nav a {
    font-size: 23px;
    line-height: 29px;
    margin: 13px 0;
    color: #3c649f;
  }
  .header-nav.open {
    max-height: 999px;
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .header-logo {
    width: 43px;
    overflow: hidden;
    text-indent: -9999px;
  }
}
/* /header */
.page-top-img {
  display: block;
  height: 499px;
  margin: 0 0 29px;
}
.page-top-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* section-contacts */
.section-contacts {
  background: #f9f9f9;
  color: #0f0f0f;
}
.contacts-list {
  margin: 0 -23px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.contacts-list li {
  margin: 0 23px 19px;
}
.contacts-list i {
  font-size: 47px;
  line-height: 47px;
}
.fa-telegram-plane {
  color: #229ED9;
}
.fa-whatsapp {
  color: #25D366;
}
.fa-viber {
  color: #8f5db7;
}
/* /section-contacts */
/* items-container */
.items-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -9px;
  text-align: left;
  position: relative;
}
.single-item {
  padding: 0 9px;
  margin: 0 0 19px;
  box-sizing: border-box;
  flex: 0 0 33.33%;
}
@media (max-width: 1000px) {
  .single-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 640px) {
  .single-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.single-item-holder {
  border: 1px solid #9f9f9f;
  border-radius: 7px;
  padding: 0 11px;
  overflow: hidden;
  background: #fff;
}
.item-picture {
  display: block;
  margin: 0 -11px 19px;
  height: 199px;
}
.item-picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.single-item-title {
  font: 19px/23px Helvetica, Arial, sans-serif;
  margin: 0 0 19px;
}
.single-item-title a {
  color: #3c649f;
  text-decoration: none;
}
.item-more,
.item-more-all {
  display: inline-block;
  margin: 0 0 19px;
  background: #F1D04C;
  border-radius: 7px;
  padding: 7px 19px;
  border: 2px solid #F1D04C;
  color: #0f0f0f;
  text-decoration: none;
  transition: all 0.6s;
}
.item-more:hover {
  background: #fff;
}
.item-more {
  font-size: 13px;
  padding: 3px 11px;
}
/* /items-container */
/* archive-pager */
.archive-pager {
  margin: 29px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.archive-pager li {
  margin: 0 7px;
}
.archive-pager a {
  color: #fff;
  text-decoration: none;
  transition: all 0.6s;
}
.archive-pager a,
.archive-pager span {
  width: 23px;
  height: 23px;
  display: block;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 50%;
}
.archive-pager-custom {
  background: #fff;
  color: #3c649f;
}
.archive-pager .archive-pager-prev,
.archive-pager .archive-pager-next,
.archive-pager a:hover,
.archive-pager .archive-pager-dots {
  border-color: transparent;
}
.archive-pager-prev:before,
.archive-pager-next:before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 5px 0 0;
}
.archive-pager-prev:before {
  transform: rotate(45deg);
}
.archive-pager-next:before {
  transform: rotate(-135deg);
}
/* /archive-pager */